
/* h1{
    color:red;
    font-size:40px;

    }
p{
    color:blue;
    font-size:40px;

}
.card{
    width: 100px;
    padding:50px;
    border:2px solid black;
    margin:30px;
    background-color:burlywood
} */


.flex{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}